/* General Styles */
* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    background-color: ghostwhite;
    font-family: 'PT Serif', serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
}

/* Logo Styles */
h1 {
    font-family: 'Oswald', sans-serif;
    color: #00a9ce;
}


/* Navigation */
#navbar {
    background-color: #eee;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left-nav, #right-nav {
    width: 30%;
    min-width: 240px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-logo-cont {
    font-size: .8em;
    display: flex;
    align-items: center;
}

#navbar h2 {
    font-size: 1em;
    font-weight: 400;
}

#navbar img {
    height: 2em;
}

#navbar .logo {
    font-size: 1.5em;
}

/* Pages */

/* Home Page */
#logo-header, #welcome-logo {
    font-size: 6em;
}

#welcome-logo {
    height: 2em;
}

.get-started {
    background-color: #00a9ce;
    margin: 2rem;
    padding: 2rem;
    font-size: 2rem;
    border-radius: 2rem;
}



#portfolio-cont {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.coin-cont {
    background-color: #eee;
    height: auto;
    width: 10em;
    padding: .5em;
    margin: .5em;
    border: 1px solid black;
    border-radius: 1em;

}

/* Log Out Page */
#goodbye {
    margin: 10% 0;
}
