/* General Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: ghostwhite;
}

a {
    text-decoration: none;
    color: black;
}

#navbar {
    background-color: #eee;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left-nav, #right-nav {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
