/* General Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: ghostwhite;
    font-family: 'PT Serif', serif;
}

a {
    text-decoration: none;
    color: black;
}

/* Logo Styles */
h1 {
    font-family: 'Oswald', sans-serif;
    color: #00a9ce;
}


/* Navigation */
#navbar {
    background-color: #eee;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left-nav, #right-nav {
    width: 25%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-logo-cont {
    display: flex;
    align-items: center;
}

#navbar img {
    height: 2em;
}

#navbar .logo {
    font-size: 1.5em;
}


#portfolio-cont {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.coin-cont {
    background-color: #eee;
    height: auto;
    width: 10em;
    padding: .5em;
    margin: .5em;
    border: 1px solid black;
    border-radius: 1em;

}
